* The temporal order is scrambled in the test data making TS useless there.
* Still, just for learning / realism, we can still do it in the training data! 
* Let's add pseudo dates, and aggregate features on column subsets. Finally i'll run a model to predict the target!

In [2]:
import importlib
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
# Temporary for not Kaggle data partitioning
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        
from datetime import datetime
from scipy.special import logsumexp

from catboost import Pool, cv, CatBoostClassifier, CatBoostRegressor
from sklearn.metrics import mean_squared_error, classification_report

In [3]:
train = pd.read_csv("caltech-cs155-2020/train.csv")
test = pd.read_csv("caltech-cs155-2020/test.csv")
df = pd.concat([train,test],sort=False)
print(df.shape)
print(df.columns)
df.tail()

(784239, 28)
Index(['id', 'last_price', 'mid', 'opened_position_qty ',
       'closed_position_qty', 'transacted_qty', 'd_open_interest', 'bid1',
       'bid2', 'bid3', 'bid4', 'bid5', 'ask1', 'ask2', 'ask3', 'ask4', 'ask5',
       'bid1vol', 'bid2vol', 'bid3vol', 'bid4vol', 'bid5vol', 'ask1vol',
       'ask2vol', 'ask3vol', 'ask4vol', 'ask5vol', 'y'],
      dtype='object')

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol,y
191854,784234,5150.6,5150.8,NaN,NaN,0.0,0,5150.6,5150.4,5150.2,...,5,3,4,2,1,3,1,3,2,NaN
191855,784235,5122.6,5122.7,1.0,2.0,3.0,-1,5122.6,5122.4,5122.2,...,1,5,1,20,16,17,4,1,16,NaN
191856,784236,5192.8,5192.3,NaN,NaN,0.0,0,5192.0,5191.8,5191.2,...,2,1,1,1,1,2,1,2,1,NaN
191857,784237,5152.0,5151.9,4.0,2.0,6.0,2,5151.8,5151.6,5151.4,...,5,6,8,37,7,1,2,1,1,NaN
191858,784238,5200.0,5200.3,2.0,0.0,2.0,2,5200.0,5199.0,5198.8,...,5,1,2,1,1,1,4,1,3,NaN

In [4]:
train.head()

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol,y
0,0,3842.4,3842.6,NaN,NaN,103.0,0,3842.4,3842.0,3841.8,...,1,6,14,6,6,1,1,10,2,1
1,1,3842.8,3843.4,6.0,49.0,55.0,-43,3843.0,3842.8,3842.4,...,6,11,1,6,1,4,4,1,13,0
2,2,3844.0,3844.3,7.0,77.0,84.0,-69,3843.8,3843.6,3843.2,...,1,4,21,12,1,16,10,4,9,0
3,3,3843.8,3843.4,3.0,34.0,37.0,-30,3843.0,3842.8,3842.4,...,13,12,2,4,2,7,1,2,11,1
4,4,3843.2,3843.1,3.0,38.0,41.0,-35,3842.8,3842.4,3842.0,...,12,2,2,4,1,3,1,11,15,1

In [5]:
test.head()

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid1vol,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol
0,592380,5178.4,5178.3,1.0,11.0,12.0,-10,5178.2,5178.0,5177.8,...,3,16,3,1,1,1,4,1,5,2
1,592381,5133.0,5132.9,1.0,0.0,1.0,1,5132.8,5132.6,5132.4,...,1,2,2,1,10,4,8,1,1,1
2,592382,5177.4,5178.0,2.0,0.0,2.0,2,5177.2,5176.8,5176.6,...,8,18,1,1,6,7,4,1,2,5
3,592383,5093.6,5093.9,0.0,2.0,2.0,-1,5093.2,5093.0,5092.8,...,8,5,4,3,1,1,1,11,6,2
4,592384,5189.2,5189.2,NaN,NaN,0.0,0,5188.8,5188.6,5188.4,...,1,5,1,3,3,3,2,1,3,4

In [6]:
## y is binary.
display(train["y"].describe())

count    592380.000000
mean          0.356958
std           0.479103
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: y, dtype: float64

In [7]:
bid_cols = ['bid1','bid2', 'bid3', 'bid4', 'bid5']
bid_vol_cols = ['bid1vol', 'bid2vol', 'bid3vol', 'bid4vol', 'bid5vol']
ask_cols = ['ask1', 'ask2', 'ask3', 'ask4', 'ask5',]
ask_vol_cols = ['ask1vol','ask2vol', 'ask3vol', 'ask4vol', 'ask5vol']

group_cols = {"bid_cols":bid_cols,"bid_vol_cols":bid_vol_cols,"ask_cols":ask_cols,"ask_vol_cols":ask_vol_cols}

* Additional features could include: rank, which bid number is the max/min, etc' 
* features between the aggregated features (e.g. max bid div max ask..)

In [8]:
for group in group_cols.keys():
    print(group)
    df[f"{group}_max"] = df[group_cols[group]].max(axis=1)
    df[f"{group}_min"] = df[group_cols[group]].min(axis=1)
    df[f"{group}_spread"] = df[f"{group}_max"].div(df[f"{group}_min"])
#     df[f"{group}_logsumexp"] = df[grou/_cols[group]].apply(logsumexp)
    
    df[f"{group}_max"] = df[group_cols[group]].max(axis=1)
    
df["last_price_div__mid"] = df["last_price"].div(df["mid"])

bid_cols
bid_vol_cols
ask_cols
ask_vol_cols

In [9]:
df["date"] = pd.to_datetime("1.1.2019")
df["date"] = df["date"] + pd.to_timedelta(df["id"]/2,unit="s") # 500 ms per row

df["date"].describe()

count                         784239
unique                        784239
top       2019-01-02 14:21:54.500000
freq                               1
first            2019-01-01 00:00:00
last             2019-01-05 12:55:19
Name: date, dtype: object

# Split back into train and test, and build model

In [10]:
train = df.loc[~df.y.isna()]
print(f"train shape {train.shape[0]}")
test = df.loc[df.y.isna()]
print(f"test shape {test.shape[0]}")

train shape 592380
test shape 191859

In [11]:
train_no_nan = train.fillna(train.mean())
test_no_nan = test.fillna(test.mean())

In [12]:
train_no_nan.isna()

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid_vol_cols_min,bid_vol_cols_spread,ask_cols_max,ask_cols_min,ask_cols_spread,ask_vol_cols_max,ask_vol_cols_min,ask_vol_cols_spread,last_price_div__mid,date
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592375,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
592376,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
592377,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
592378,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
592379,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
train.drop(["id"],axis=1).to_csv("train_hft.csv.gz",index=False,compression="gzip")
test.to_csv("test_hft_nodates.csv.gz",index=False,compression="gzip")

KeyboardInterrupt:

In [20]:
# we don't know if the test set has a temporal split, so we'll just try a random split for now
X = train_no_nan.drop(["id","date","y"],axis=1)
y = train_no_nan["y"]

In [ ]:
print(X.shape)
print(np.isfinite(X).all())

In [18]:
import get_average_val_err
import gradientboostorder
importlib.reload(gradientboostorder)
importlib.reload(get_average_val_err)
model = gradientboostorder.GradientBoosting(10)
print(model)
print(get_average_val_err.get_val_err(5,train_no_nan,model))

<gradientboostorder.GradientBoosting object at 0x1a217b3710>
592380
Fold  1  of  5  test indices: [     0      1      2 ... 118473 118474 118475]
118476
clf i: 0
clf i: 1
clf i: 2
clf i: 3
clf i: 4
clf i: 5
clf i: 6
clf i: 7
clf i: 8
clf i: 9
0
[0.5 0.5 0.5 ... 0.5 0.5 0.5]
1
[0.43800916 0.47946195 0.47946195 ... 0.43800916 0.43800916 0.43800916]
2
[0.47044368 0.49727372 0.49727372 ... 0.49727372 0.47085952 0.49727372]
3
[0.4465342  0.48229665 0.48229665 ... 0.4465342  0.4465342  0.4465342 ]
4
[0.46834989 0.49604978 0.49604978 ... 0.49604978 0.46961865 0.49604978]
5
[0.44698935 0.48260364 0.48260364 ... 0.44698935 0.44698935 0.44698935]
6
[0.46823623 0.49595876 0.49595876 ... 0.49595876 0.46952748 0.49595876]
7
[0.44701576 0.48262638 0.48262638 ... 0.44701576 0.44701576 0.44701576]
8
[0.46822963 0.49595272 0.49595272 ... 0.49595272 0.46952145 0.49595272]
9
[0.44701735 0.48262789 0.48262789 ... 0.44701735 0.44701735 0.44701735]
y_val:
          y
0       1.0
1       0.0
2       0.0
3       1.0
4       1.0
...     ...
118471  0.0
118472  1.0
118473  0.0
118474  0.0
118475  0.0

[118476 rows x 1 columns]
y_pred:
[0.46008253 0.48948515 0.48948515 ... 0.47108008 0.46050929 0.47108008]
0.6278725095743869
Fold  2  of  5  test indices: [118476 118477 118478 ... 236949 236950 236951]
118476
clf i: 0
clf i: 1
clf i: 2
clf i: 3
clf i: 4
clf i: 5
clf i: 6
clf i: 7
clf i: 8
clf i: 9
0
[0.5 0.5 0.5 ... 0.5 0.5 0.5]
1
[0.43962273 0.50861179 0.46307029 ... 0.50861179 0.50861179 0.46307029]
2
[0.46860643 0.50176577 0.50176577 ... 0.47733719 0.47733719 0.44809709]
3
[0.44790075 0.51123432 0.47117023 ... 0.51123432 0.51123432 0.47117023]
4
[0.46657056 0.50057194 0.50057194 ... 0.47613083 0.47613083 0.44607386]
5
[0.44834361 0.5115342  0.47161536 ... 0.5115342  0.5115342  0.47161536]
6
[0.46646003 0.50048328 0.50048328 ... 0.47604201 0.47604201 0.44596414]
7
[0.44836932 0.51155637 0.47164124 ... 0.51155637 0.51155637 0.47164124]
8
[0.4664536  0.50047739 0.50047739 ... 0.47603613 0.47603613 0.44595777]
9
[0.44837087 0.51155784 0.47164279 ... 0.51155784 0.51155784 0.47164279]
y_val:
          y
118476  0.0
118477  1.0
118478  1.0
118479  1.0
118480  1.0
...     ...
236947  0.0
236948  0.0
236949  0.0
236950  0.0
236951  0.0

[118476 rows x 1 columns]
y_pred:
[0.46006979 0.50577929 0.48524383 ... 0.49600407 0.49600407 0.46352328]
0.6424883627929601
Fold  3  of  5  test indices: [236952 236953 236954 ... 355425 355426 355427]
118476
clf i: 0
clf i: 1
clf i: 2
clf i: 3
clf i: 4
clf i: 5
clf i: 6
clf i: 7
clf i: 8
clf i: 9
0
[0.5 0.5 0.5 ... 0.5 0.5 0.5]
1
[0.46163101 0.46163101 0.46163101 ... 0.43747052 0.50814895 0.46163101]
2
[0.4466351  0.46746861 0.46746861 ... 0.4466351  0.47579965 0.4466351 ]
3
[0.47001135 0.47001135 0.47001135 ... 0.4460679  0.51103869 0.47001135]
4
[0.44453913 0.46535946 0.46535946 ... 0.44453913 0.47451885 0.44453913]
5
[0.47047471 0.47047471 0.47047471 ... 0.44652893 0.51135708 0.47047471]
6
[0.44442499 0.46524443 0.46524443 ... 0.44442499 0.47442541 0.44442499]
7
[0.47050171 0.47050171 0.47050171 ... 0.44655574 0.51138041 0.47050171]
8
[0.44441835 0.46523773 0.46523773 ... 0.44441835 0.47441924 0.44441835]
9
[0.47050333 0.47050333 0.47050333 ... 0.44655735 0.51138195 0.47050333]
y_val:
          y
236952  0.0
236953  0.0
236954  0.0
236955  0.0
236956  0.0
...     ...
355423  1.0
355424  0.0
355425  0.0
355426  1.0
355427  0.0

[118476 rows x 1 columns]
y_pred:
[0.46231397 0.47064323 0.47064323 ... 0.4503198  0.49524702 0.46231397]
0.6315133865671007
Fold  4  of  5  test indices: [355428 355429 355430 ... 473901 473902 473903]
118476
clf i: 0
clf i: 1
clf i: 2
clf i: 3
clf i: 4
clf i: 5
clf i: 6
clf i: 7
clf i: 8
clf i: 9
0
[0.5 0.5 0.5 ... 0.5 0.5 0.5]
1
[0.46305861 0.43888334 0.47977361 ... 0.50883874 0.46305861 0.46305861]
2
[0.46853432 0.46853432 0.4976312  ... 0.4976312  0.46853432 0.44718717]
3
[0.47122012 0.44729664 0.48248345 ... 0.5113371  0.47122012 0.47122012]
4
[0.46647532 0.46647532 0.49643742 ... 0.49643742 0.46647532 0.44514078]
5
[0.47167033 0.44774512 0.4827829  ... 0.51163662 0.47167033 0.47167033]
6
[0.46636346 0.46636346 0.49634819 ... 0.49634819 0.46636346 0.44502979]
7
[0.47169651 0.44777114 0.4828052  ... 0.51165893 0.47169651 0.47169651]
8
[0.46635697 0.46635697 0.49634225 ... 0.49634225 0.46635697 0.44502334]
9
[0.47169809 0.4477727  0.48280668 ... 0.51166041 0.47169809 0.47169809]
y_val:
          y
355428  0.0
355429  1.0
355430  1.0
355431  0.0
355432  0.0
...     ...
473899  1.0
473900  1.0
473901  1.0
473902  0.0
473903  0.0

[118476 rows x 1 columns]
y_pred:
[0.47170737 0.4597199  0.48974109 ... 0.50418909 0.47170737 0.46317247]
0.6348045722960273
Fold  5  of  5  test indices: [473904 473905 473906 ... 592377 592378 592379]
118476
clf i: 0
clf i: 1
clf i: 2
clf i: 3
clf i: 4
clf i: 5
clf i: 6
clf i: 7
clf i: 8
clf i: 9
0
[0.5 0.5 0.5 ... 0.5 0.5 0.5]
1
[0.47796983 0.5078446  0.47796983 ... 0.4364563  0.4364563  0.4364563 ]
2
[0.47552251 0.50081017 0.47552251 ... 0.46657341 0.46657341 0.46657341]
3
[0.48103163 0.51073249 0.48103163 ... 0.44524832 0.44524832 0.44524832]
4
[0.4742208  0.49952239 0.4742208  ... 0.46442032 0.46442032 0.46442032]
5
[0.48135492 0.51105598 0.48135492 ... 0.44571931 0.44571931 0.44571931]
6
[0.47412555 0.49942728 0.47412555 ... 0.46430287 0.46430287 0.46430287]
7
[0.48137868 0.51107976 0.48137868 ... 0.44574669 0.44574669 0.44574669]
8
[0.47411926 0.49942098 0.47411926 ... 0.46429604 0.46429604 0.46429604]
9
[0.48138026 0.51108134 0.48138026 ... 0.44574834 0.44574834 0.44574834]
y_val:
          y
473904  0.0
473905  1.0
473906  0.0
473907  0.0
473908  0.0
...     ...
592375  1.0
592376  0.0
592377  0.0
592378  0.0
592379  0.0

[118476 rows x 1 columns]
y_pred:
[0.48011034 0.5050975  0.48011034 ... 0.45785116 0.45785116 0.45785116]
0.621246056868308
(0.6315849776197566, 4.9986084937229815e-05, [0.6278725095743869, 0.6424883627929601, 0.6315133865671007, 0.6348045722960273, 0.621246056868308])

## export predictions

In [ ]:
# test["Predicted"] = model.predict(test.drop(["id","date","y"],axis=1),prediction_type='Probability')[:,1]
test["Predicted"] = model.predict(test_no_nan.drop(["id","date","y"],axis=1))
test[["id","Predicted"]].to_csv("submission_test.csv",index=False)